@font-face {
  font-family: yekan;
  src: url(../fonts/Yekan.ttf);
}
:root {
  --color-primary: #03ca9b;
  --bg: #fff;
  --black: #333;
  --light-bg: #f8f8f8;
  --light-color: #666;
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --box-shadow1: -5px 5px 10px rgba(0, 0, 0, 0.3);
  --bg-pink-gradient: linear-gradient(
     to left,
     rgb(254 132 100) 0,
     rgb(254 110 154) 100%
  );
  --bg-green-gradient: linear-gradient(
     to left,
     rgb(51 200 193) 0,
     rgb(17 155 210) 100%
  );
  --bg-blue-gradient: linear-gradient(
     to left,
     rgb(54 28 193) 0,
     rgb(46 130 239) 100%
  );
}

.dark {
  --black: #fff;
  --bg: #262626;
  --light-bg: #282828;
  --light-color: #eee;
  --border: 1px solid rgba(255, 255, 255, 0.1);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --box-shadow1: -5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* css reset */
* {
  margin: 0;
  padding: 0;
  direction: ltr;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
}

body {
  overflow-x: hidden;
  background-color: var(--light-bg);
  transition: 0.3s;
}

/* preloader starts */
.preloader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
}
.preloader > img {
  width: 100px;
}
.preloader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* preloader ends */
.main-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 300px 30px 300px;
  margin: 10rem;
  width: 65%;
}
.main-box .recent-car {
  grid-column: 1/4;
  color: #90a3bf;
  padding-left: 10px;
}
.main-box .cars {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-around;
  gap: 10px;
}
.main-box .cars .car-box {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 4px;
  padding: 1rem 10px;
  background-color: #ffffff;
}
.main-box .cars .car-box .title {
  display: flex;
  justify-content: space-between;
}
.main-box .cars .car-box .lable {
  color: #90a3bf;
}
.main-box .cars .car-box .img {
  width: 100%;
}
.main-box .cars .car-box .img img {
  width: 70%;
}
.main-box .cars .car-box .details {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.main-box .cars .car-box .details img {
  margin-right: 4px;
}
.main-box .cars .car-box .details div {
  display: flex;
  font-size: 13px;
}
.main-box .cars .car-box .buy {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.main-box .cars .car-box .buy .color-gray {
  color: #90a3bf;
}
.main-box .cars .car-box .buy button {
  background-color: #1a37a7;
  color: white;
  width: 106px;
  height: 36px;
  border-radius: 5px;
  border: none;
}
.main-box .recommendition {
  grid-column: 1/4;
  margin-top: 2rem;
  color: #90a3bf;
}
.main-box .recomend-box {
  grid-column: 1/4;
}/*# sourceMappingURL=style.css.map */