@import "main";
.main-box {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 30px 300px 30px 300px;
   margin: 10rem;
   width: 65%;

   .recent-car {
      grid-column: 1/4;
      color: #90a3bf;
      padding-left: 10px;
   }
   .cars {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 300px 300px 300px;
      justify-content: space-around;
      gap: 10px;
      .car-box {
         border: 1px solid gray;
         border-radius: 5px;
         padding: 4px;
         padding: 1rem 10px;
         background-color: #ffffff;
         .title {
            display: flex;
            justify-content: space-between;
         }
         .lable {
            color: #90a3bf;
         }
         .img {
            width: 100%;

            img {
               width: 70%;
            }
         }
         .details {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
            img {
               margin-right: 4px;
            }
            div {
               display: flex;
               font-size: 13px;
            }
         }
         .buy {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
            .color-gray {
               color: #90a3bf;
            }
            button {
               background-color: #1a37a7;
               color: white;
               width: 106px;
               height: 36px;
               border-radius: 5px;
               border: none;
            }
         }
      }
   }
   .recommendition {
      grid-column: 1/4;
      margin-top: 2rem;
      color: #90a3bf;
   }
   .recomend-box {
      grid-column: 1/4;
   }
}
