@import "main";

#navbar {
   width: 100%;
   height: 100px;
   background-color: var(--bg);
   border-bottom: 1px solid var(--light-color);
   @include d-flex(center, center);
   .logo {
      @include d-flex(center, center);
      color: var(--color-primary-500);
      font-weight: bolder;
      font-size: 1.5rem;
      line-height: 35px;
   }

   .search {
      // @include d-flex(center, center);
      border: 1px solid var(--light-color);
      border-radius: 20px;
      padding: 7px;
      width: 70%;
      @include d-flex(space-between, center);
      img {
         width: 20px;
      }

      input {
         background: none;
         border: none;
         outline: none;
         margin-left: -100px;
      }
   }

   .options {
      @include d-flex(center, center);
      span {
         width: 35px;
         height: 35px;
         border-radius: 50%;
         border: 1px solid var(--light-color);
         margin-left: 15px;
         @include d-flex(center, center);

         img {
            object-fit: cover;
            width: 50%;
         }
      }
      span:nth-last-child(1) {
         background: url(../images/profile.jpg);
         background-position: center;
         background-size: cover;
      }
   }
}

#main {
   display: grid;
   grid-template-columns: 250px 1fr;
   background: red;
   aside {
      grid-template-columns: span 1;
      background: var(--bg);
      height: 100%;
      padding: 20px;
      line-height: 20px;
      .title {
         color: var(--light-color);
         margin-bottom: 15px;
      }
      & > div {
         margin-bottom: 5px;
         input {
            margin-right: 5px;
         }
      }

      #range {
         width: 100%;
      }
   }

   main {
      grid-template-columns: span 1;
      background: var(--bg2);
      height: 100%;
      padding: 50px;
      header {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 25px;
         .left {
            grid-column: span 1;
            height: 500px;
            display: grid;
            grid-template-columns: repeat(12,1fr);
            grid-template-rows: repeat(12,1fr);
            gap: 20px;
            padding: 20px;
            &>div {
               border-radius: 10px;
            }
            .pic1{
               grid-column: 1 / -1;
               grid-row: 1 / 9;
               background:url(../images/porse.png);
               background-position: center -75px;
               background-size: cover;

            }
            .pic2{
               grid-column: span 4;
               grid-row: 9 / -1;
               background:url(../images/porse.png);
               background-position: center;
               background-size: cover;
               outline: 2px solid var(--color-primary-500);
               outline-offset: 5px;
            }
            .pic3{
               grid-column: span 4;
               grid-row: 9 / -1;
               background:url(../images/Vector\ \(1\).png);
               background-position: center;
               background-size: cover;
            }
            .pic4{
               grid-column: span 4;
               grid-row: 9 / -1;
               background:url(../images/Vector\ \(2\).png);
               background-position: center;
               background-size: cover;
            }
         }
         
         .right {
            grid-column: span 1;
            height: 500px;
            padding: 20px;
            @include d-flex(space-between,center);
            flex-direction: column;

            .top {
               width: 100%;
               @include d-flex(space-between,center);
               .right-title {
                  h2 {
                     font-size: 2rem;
                     margin-bottom: 10px;
                  }
                  .stars {
                     i {
                        color: #FBAD39;
                     }
                  }
               }

               svg {
                  margin-top: -20px;
               }
            }

            p {
               font-size: 1.5rem;
               color: var(--light-color);
            }

            .details {
               width: 100%;
               display: grid;
               grid-template-columns: repeat(4,1fr);
               gap: 20px;

               .detail {
                  grid-column: span 1;
                  font-size: 1.5rem;
                  color: var(--light-color);

                  &:nth-child(even){
                     font-weight: bolder;
                  }
               }
            }

            .bm {
               width: 100%;
               height: 50px;
               @include d-flex(space-between,center);
               .lt {
                  h2 {
                     display: inline-block;
                  }
                  del {
                     text-decoration: line-through;
                  }
               }
               .rt {
                  a {
                     background-color: var(--color-primary-500);
                     padding: 20px;
                     width: 150px;
                     text-align: center;
                     border-radius: 5px;
                     color: var(--bg);
                  }
               }
            }
         }
      }
   }
}
